#ignore modules
node_modules

#ignore config
config

#ignore bundle
bundle.js

#ignore snapshots
client/src/components/Q-and-A/__snapshots__

#ignore coverage
coverage

#ignore mac folder custom attributes
.DS_Store

#ignore snapshots folder
__snapshots__
